<div name="+15" class="container-fluid col-md-6">
  <table class="table-bordered">
    <caption>Méthode conseillée pour atteindre des failstacks</caption>
    <tr>
      <th>Failstacks</th>
      <th>Methode conseillée</th>
    </tr>
    <tr>
      <td>0-16</td>
      <td>reblath/militia</td>
    </tr>
    <tr>
      <td>16-20</td>
      <td>reblath/militia ou PRI armure/arme</td>
    </tr>
    <tr>
      <td>20-32</td>
      <td>DUO armure/arme</td>
    </tr>
    <tr>
      <td>32-44</td>
      <td>TRI armure/arme</td>
    </tr>
  </table>

  <table class="table-bordered">
    <caption>Enchantement en +15</caption>
    <tr>
      <th>Enchantement</th>
      <th>Failstacks</th>
      <th>Arrêter de cliquer à</th>
    </tr>
    <tr>
      <td>+0...+8</td>
      <td>0</td>
      <td>8</td>
    </tr>
    <tr>
      <td>+9</td>
      <td>8</td>
      <td>11</td>
    </tr>
    <tr>
      <td>+10</td>
      <td>11</td>
      <td>15</td>
    </tr>
    <tr>
      <td>+11</td>
      <td>15</td>
      <td>20</td>
    </tr>
    <tr>
      <td>+12</td>
      <td>15</td>
      <td>20</td>
    </tr>
    <tr>
      <td>+13</td>
      <td>20</td>
      <td>25</td>
    </tr>
    <tr>
      <td>+14</td>
      <td>20</td>
      <td>25</td>
    </tr>
    <tr>
      <td>+15</td>
      <td>25</td>
      <td>32</td>
    </tr>
  </table>
</div>
<div class="container-fluide col-md-6">
  <table class="table-bordered">
    <caption>Accessoires</caption>
    <tr>
      <th>Enchantement</th>
      <th>Bleu</th>
      <th>Jaune</th>
    </tr>
    <tr>
      <td>PRI</td>
      <td>20</td>
      <td>25</td>
    </tr>
    <tr>
      <td>DUO</td>
      <td>28</td>
      <td>35</td>
    </tr>
    <tr>
      <td>TRI</td>
      <td>35</td>
      <td>44</td>
    </tr>
    <tr>
      <td>TET</td>
      <td>44</td>
      <td>60</td>
    </tr>
    <tr>
      <td>PEN</td>
      <td>70</td>
      <td>100</td>
    </tr>
  </table>
  <table class="table-bordered">
    <caption>Optimiser son utilisation de failstacks</caption>
    <tr>
      <th>Failstacks</th>
      <th>Cliquer</th>
    </tr>
    <tr>
      <td>20-26</td>
      <td>DUO arme/armure verte</td>
    </tr>
    <tr>
      <td>26-32</td>
      <td>DUO arme/armure boss</td>
    </tr>
    <tr>
      <td>32-44</td>
      <td>TRI arme/armure boss</td>
    </tr>
    <tr>
      <td>44-54</td>
      <td>TET arme/armure verte</td>
    </tr>
    <tr>
      <td>54-100</td>
      <td>TET arme/armure boss</td>
    </tr>
    <tr>
      <td>100+</td>
      <td>PEN</td>
    </tr>
  </table>
</div>
<div class="container-fluid col-md-12">
  <table class="table table-bordered table-hover table-responsive">
    <tbody id="tableTimerMarketplace">
      <tr>
        <th>nom item (optionel)</th>
        <th>temps restant</th>
        <th>-</th>
      </tr>
      <tr>
        <td>
          <input name="nomItem" type="text" placeholder="nom item"></input>
        </td>
        <td>
          <input name="nombreMinutes" type="number" placeholder="Nombre de minutes" step="1" min="1" max="15"></input>
        </td>
        <td>
          <button id="tableTimerMarketplaceButton" type="button">Ajouter</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>