<div name="boxhead" class="container-fluid">
  <div name="progressBarsDiv">
    <div class="progress">
      <div name="fetchBar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%">
        <span class="sr-only"></span>
      </div>
    </div>
    <div class="progress">
      <div name="loadBar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%">
        <span class="sr-only"></span>
      </div>
    </div>
  </div>

</div>
