<div class="container-fluid">
  <h1>Bienvenue sur l'app TCC</h1>
  <p class="lead">Les fonctionalités suivantes sont installées ou en cours de développement:</p>
  <ul id="fonctionalities-list">
    <li class="activated">Login/Logout</li>
    <li class="activated">Session</li>
    <li class="activated">Live chat</li>
    <li class="activated">Changement d'info profil personnel</li>
    <li class="activated">Visite profils autres utilisateurs</li>
    <li class="activated">Affichage utilisateurs connectés</li>
    <li class="desactivated">Memo failstacks pour Black Desert Online</li>
    <li class="desactivated">Mini-jeu(x)</li>
    <li class="desactivated">Gestion des avatars</li>
  </ul>
  <p class="lead">Votre équipe de professionels</p>
  <ul id="list-devs">
    <li>Johnny</li>
    <li>Bicky</li>
    <li>KykySenpai</li>
    <li>Sardox</li>
  </ul>
</div>
