<!DOCTYPE html>
<div class="container-fluid">
  <h1>Bienvenue sur l'app TCC</h1>
  <h5>Les fonctionalités suivantes sont déja installées :</h5>
  <ul>
    <li><p>Login/Logout</p></li>
    <li><p>Session</p></li>
    <li><p>Live chat</p></li>
    <li><p>Changement d'info profil personnel</p></li>
    <li><p>Visite profils autres utilisateurs</p></li>
    <li><p>Affichage utilisateurs connectés</p></li>
  </ul>
  <h5>Les fonctionnalités suivantes sont en cours de développement</h5>
  <ul>
    <li><p>Memo failstacks pour Black Desert Online</p></li>
    <li><p>Développement mini jeu</p></li>
  </ul>
  <h5>Votre équipe de professionel</h5>
  <ul>
    <li><p>Back-end(?)/Front-end : Johnny</p></li>
    <li><p>Back-end : Bicky</p></li>
    <li><p>Back-end/Front-end(?) : Kyky</p></li>
</div>
</html>
