<!DOCTYPE html>
<div id="pageProfile" class="container-fluid form-group">
  <form class="form-group" name="modifProfil">
  <h1 name="login"></h1>
  <ul class="list-group">
    <li name="surname" class="list-group-item">Nom de famille : <p name="surname"></p><input type="text" name="surname" class="hidden form-control" placeholder="Nom de famille"></li>
    <li name="firstname" class="list-group-item">Prenom : <p name="firstname"></p><input type="text" name="firstname" class="hidden form-control" placeholder="Prenom"></li>
    <li name="login" class="list-group-item">Pseudo : <p name="login"></p><input type="text" name="login" class="hidden form-control" placeholder="Pseudo" required></li>
    <li name="email" class="list-group-item">Email : <p name="email"></p><input type="text" name="email" class="hidden form-control" placeholder="Email"></li>
    <li name="password" class="list-group-item">Mot de passe : <p name="password">Password : *******</p><input type="password" name="password" class="hidden form-control" placeholder="Mot de passe" required></li>
    <li name="confirmPassword" class="list-group-item"><input type="password" name="confirmPassword" class="hidden form-control" placeholder="Confirmez le mot de passe" required></li>
  </ul>
  <button type="button" name="modifier" class="btn btn-info form-control">Modifier</button>
  <button type="button" name="confirmer" class="btn btn-info hidden form-control">Confirmer</button>
  <button type="button" name="annuler" class="btn btn-info hidden form-control">Annuler</button>
</form>
</div>
</html>
